<!doctype html>
<!-- The Time Machine GitHub pages theme was designed and developed by Jon Rohan, on Feb 7, 2012. -->
<!-- Follow him for fun. http://twitter.com/jonrohan. Tail his code on https://github.com/jonrohan -->
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <link rel="stylesheet" href="https://thepoetcoder.github.io/assets/css/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script src="https://thepoetcoder.github.io/assets/js/script.js"></script>

{% seo %}

  {% include head-custom.html %}
</head>

<body>

  <div class="wrapper">
    <header>
      <div id="container">
        <a href="https://thepoetcoder.github.io/">
          <img src="https://thepoetcoder.github.io/assets/images/tpc.png" width=100% height=auto/>
        </a>
      </div>
    </header>
    <div id="container">
      <div id="main" role="main">
        <div class="download-bar">
        <div class="inner">
          <p id="quote" class="tagline"></p>
          <noscript>"Fled is that music:—Do I wake or sleep?" -Keats</noscript>
        </div>
        <span class="blc"></span><span class="trc"></span>
        </div>
        <article class="markdown-body">
          {{ content }}
        </article>
      </div>
    </div>
    <footer>
      <div class="owner">
        <a href="mailto:thepoetcoder@gmail.com"><i class="svg-icon email"></i></a>
        <a href="https://www.linkedin.com/in/-eric-smith"><i class="svg-icon linkedin"></i></a>
        <a href="https://www.github.com/ThePoetCoder"><i class="svg-icon github"></i></a>
        <a href="https://www.reddit.com/u/thepoetcoder"><i class="svg-icon reddit"></i></a>
        <a href="https://www.twitter.com/thepoetcoder"><i class="svg-icon twitter"></i></a>
        <a href="https://www.stackoverflow.com/users/9885313/thepoetcoder"><i class="svg-icon stackoverflow"></i></a>
      </div>
    </footer>
  </div>
</body>
  <script type="text/javascript" src="https://thepoetcoder.github.io/assets/js/quotes.js"></script>
</html>
